@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

.App {
  position: relative;
  text-align: center;
  background-image: url("https://starwarsblog.starwars.com/wp-content/uploads/2020/04/star-wars-backgrounds-14.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

.addButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50px;
}

.Form {
  padding: 25px;
}
